* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    background-color: darkgrey;
}
figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    gap: 20px;
    padding: 5px;
    max-width: 360px;
    min-height: 700px;
    background-color: #222;
    margin: auto;
}

img {
    max-width: 360px;
    max-height: 360px;
    object-fit: cover;
}

figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}